<h1>Modify</h1>
<h2>Pets</h2>
{{#each pets as |pet|}}
    <div class="flex">
        {{pet.name}} {{pet.owner.name}}
        <PowerSelect
            @options={{bodyShapes}}
            @onChange={{action "selection" pet}}
            @selected={{pet.shape}}
            as |shape|>
            {{shape.name}}
        </PowerSelect>
    </div>
{{/each}}
<button type="button" {{on 'click' (action 'addPet')}}>Add Pet</button>
<h2>People</h2>
{{#each people as |person|}}
    <div>
        {{person.name}} <br/>
        <Input @value={{person.name}} />
    </div>
{{/each}}
{{yield}}