{{!--
Turning this on makes Ember track it which means the
setPage function won't need to call this.tableData.
This could be a quirk with ember-light-table
--}}
{{!--{{this.tableData}}--}}

<LightTable @table={{this.table}} @height='auto' as |t|>
    <t.head/>
    <t.body
        @canSelect={{false}}
        as |body|>
        {{#if this.isLoading}}
            <body.loader>
                <TableLoader />
            </body.loader>
        {{/if}}
    </t.body>
    <t.foot fixed={{false}} as |columns|>
        <tr>
            <td class="align-center" colspan={{columns.length}}>
                <ul class="pagination pagination-sm">
                    <li class={{if (eq this.currentPage 1) 'disabled'}}>
                        <a {{on 'click' (fn this.setPage (dec this.currentPage))}} href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {{#each (range 1 this.totalPages true) as |p|}}
                        <li class={{if (eq p this.currentPage) 'active'}}>
                            <a {{on 'click' (fn this.setPage p)}} href="#">{{p}}</a>
                        </li>
                    {{/each}}
                    <li class={{if (eq this.currentPage this.totalPages) 'disabled'}}>
                        <a {{on 'click' (fn this.setPage (inc this.currentPage))}} href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    </t.foot>
</LightTable>